body{
  background-color:#ffffff;
}
h1{
  text-align: center;
  color:red;
  background-color:pink;
}

p{
    text-align: justify;
   
}
h2{
    text-align: center;
    color:#2095c2;
}

h3{
  color:#2095c2;
}

h4
{
    color:#2095c2;

}